<p id="notice"><%= notice %></p>

<p>
  <strong>Title :</strong>
   <%= @article.title %>
  <strong>Edited by :</strong>
  <%= @article.user.username + @article.user.name%>
</p>
  <%= link_to 'Create contents', contents_path %>

<% if @article.user == @current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> | 
  <%= link_to 'Back', articles_path %>
<% end %>