<!DOCTYPE html>
<html>
  <head>
    <title>Wikipedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <header>
     <h1> Bonjour 
      <% if @current_user %>
           <%= @current_user.name%>
           <%= @current_user.username%> </h1>
           <%= link_to  "Sign out", '/sign_out', method: :delete %>
      <% end %>
    </header>
  </body>
</html>
